################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/create-react-redux-app-structure
