
.userLoginForm
{
    color: darkblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;   
}

.modal-longbox {
    border-radius: 12px;
    border-color: darkblue;
    color: darkblue;
    margin-top: 12px;
}

#startDate, #endDate {
    border-radius: 12px;
    color: darkblue;
    width: 100%;
}