
.userLoginForm
{
    color: darkblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em; 
    
}

.Modal {
    position: absolute;
    background-color: lightgray;
    width: 900px;
    min-width: 1200px;
    height: 160px;
    border-radius: 30px;
    align-content: center;
    align-items: center;
    margin-left: 30px;
}

.modal-longbox {
    border-radius: 12px;
    border-color: darkblue;
    color: darkblue;
    margin-top: 12px;
    white-space: pre-line;
    display: inline-block;
    
}

#startDate, #endDate {
    border-radius: 12px;
    color: darkblue;
    width: 100%;
}

.questionModal {
    width: 1200px;
    background-color: transparent;
}

.editGrid {
    border-color: white;
    border-width: 3px;
    border-style: solid;
    background-color: white;
    max-width: 400px;
}

.editGroup {
    border-color: white;
    border-width: 0px;
    border-style: none;
    background-color: white;
    max-width: 400px;
}

.modal-body {
    background-color: white;
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-edit {
    min-width: 40px;
}
