
.userLoginForm
{
    color: darkblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;   
}

.modal-longbox {
    border-radius: 12px;
    border-color: darkblue;
    color: darkblue;
    margin-top: 12px;
    white-space: pre-line;
    display: inline-block;
}

#startDate, #endDate {
    border-radius: 12px;
    color: darkblue;
    width: 100%;
}

.Modal {
    position: absolute;
    background-color: lightgray;
    width: 700px;
    height: 160px;
    border-radius: 30px;
    align-content: center;
    align-items: center;
    margin-left: 30px;

}