.modalLoginButton {
    margin: 0 auto;
}

.loginModalHeader {
    text-align: center;
}

.loginModalFooter {
    text-align: center;
    font-size: 15px;
    color: #ac1627;
    margin-left: 12px;
}
