.modalLoginButton, .forgotPasswordLink {
  margin: 0 auto;  
}

.forgotPasswordLink {
    color: #243859;
}

.loginModalHeader {
    text-align: center;
    color: #243859;
}

/* Uncomment to get rid of gray modal-backdrop */
/* .modal-backdrop.show {
  opacity: 0;
} */